/** @format */
/* -------------------------------------- GENERAL -------------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  width: 90%;
  border-radius: 0.5rem;
}

.remove-border {
  border: 0px solid white;
}

.section-title {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section-end {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 2rem;
}

@media (min-width: 900px) {
  .card {
    width: 70%;
  }
  .section-title {
    width: 70%;
  }
  .section-end {
    width: 70%;
  }
}

/* -------------------------------------- NAV -------------------------------------- */
.Nav {
  position: fixed;
  width: 100vw;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  margin-top: 1rem;
  z-index: 5;
}

.navbar {
  width: 90%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.125);
          box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.125);
  border-radius: 2rem;
  background-color: transparent;
}

.nav-item {
  border-radius: 2rem;
  font-size: 1.5rem;
}

.navbar-item-icon {
  padding: 1rem 0.5rem;
}

.nav-item:hover {
  cursor: pointer;
  position: relative;
  bottom: 0.125rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-item-active {
  /* padding: 0.5rem 0.5rem; */
  /* box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.125); */
  border-bottom: 1px solid rgba(10, 10, 10, 0.25);
}

.add-shadow {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  background-color: white;
}

@media (min-width: 900px) {
  .navbar {
    width: 70%;
  }
}

/* -------------------------------------- HERO -------------------------------------- */
.Hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(254, 170, 90, 0.125);
}

.hero-card {
  -webkit-box-shadow: 0px 0px 15px rgba(83, 18, 25, 0.25);
          box-shadow: 0px 0px 15px rgba(83, 18, 25, 0.25);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-pic {
  width: 10rem;
  height: 10rem;
  border-radius: 20rem;
  position: relative;
  top: 2.25rem;
  -webkit-box-shadow: 0px 10px 15px rgba(255, 255, 255, 0.125);
          box-shadow: 0px 10px 15px rgba(255, 255, 255, 0.125);
  border: 5px solid white;
}

.hero-text-box {
  background: linear-gradient(-20deg, #e6875e -20%, #531219 100%);
  width: 100%;
  padding: 3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inner-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-text {
  color: #feaa5a;
}

.hero-text-hi {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  font-weight: 700;
}

.hero-text-caption {
  font-size: 3rem;
  font-weight: 400;
  color: white;
  font-family: "Roboto", sans-serif;
}

.hero-btn-card {
  position: relative;
  top: 1rem;
  background-color: #feaa5a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  -webkit-box-shadow: 0px 0px 15px rgba(254, 170, 90, 0.5);
          box-shadow: 0px 0px 15px rgba(254, 170, 90, 0.5);
  border-radius: 3rem;
}

.hero-btn-card:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px #feaa5a;
          box-shadow: 0px 0px 15px #feaa5a;
}

.hero-btn-text {
  padding: 1rem 0rem;
  color: white;
  font-weight: 700;
}

@media (min-width: 900px) {
  .hero-card {
    width: 70%;
  }
  .hero-btn-card {
    width: 25%;
  }
}

/* -------------------------------------- ABOUT -------------------------------------- */
.About {
  background-color: rgba(83, 18, 25, 0.125);
  padding-top: 6rem;
  padding-bottom: 5rem;
}

.about-me-title-text {
  font-size: 3rem;
  font-weight: 800;
  color: #531219;
}

.about-title {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

.about-title-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  padding-left: 2rem;
}

.about-text-box {
  margin: 0 1rem;
  font-weight: 300;
  font-size: 1.125rem;
  padding-bottom: 1rem;
}

.about-text {
  font-weight: 300;
}

.about-desc-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.experience-card {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experience-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  -webkit-box-shadow: 0px 0px 15px rgba(230, 135, 94, 0.25);
          box-shadow: 0px 0px 15px rgba(230, 135, 94, 0.25);
  border-radius: 1rem;
  margin-bottom: 1rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(254, 170, 90, 0.25)), to(rgba(230, 135, 94, 0.25)));
  background: linear-gradient(0deg, rgba(254, 170, 90, 0.25) 0%, rgba(230, 135, 94, 0.25) 100%);
}

.exp-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.exp-left-side {
  width: 70%;
  margin-left: 1rem;
}

.exp-title {
  font-weight: 800;
  font-size: 1.25rem;
}

.exp-company {
  font-weight: 600;
  text-transform: uppercase;
  color: #531219;
}

.exp-right-side {
  width: 70%;
  margin-left: 1rem;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.exp-date {
  background-color: rgba(254, 170, 90, 0.5);
  -webkit-box-shadow: 0px 0px 10px rgba(254, 170, 90, 0.5);
          box-shadow: 0px 0px 10px rgba(254, 170, 90, 0.5);
  padding: 0.25rem 0.5rem;
  border-radius: 2rem;
  font-weight: 900;
}

.exp-body {
  margin: 0.5rem 1rem;
  font-weight: 300;
  font-size: 1.125rem;
  padding-bottom: 1rem;
}

.abousection-end {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 2rem;
}

.about-me-end-text {
  font-size: 1.25rem;
  font-weight: 600;
  color: #531219;
}

@media (min-width: 900px) {
  .about-me-title {
    width: 70%;
  }
  .about-card {
    width: 70%;
  }
  .about-title {
    margin-left: 3rem;
  }
  .experience-wrapper .about-desc-wrapper {
    width: 90%;
  }
  .exp-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .exp-right-side {
    width: 30%;
    margin-left: 0;
    margin-top: 0;
    margin-right: 1rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .abousection-end {
    width: 70%;
  }
}

/* -------------------------------------- EDUCATION -------------------------------------- */
.Education {
  padding-top: 6rem;
  padding-bottom: 5rem;
  background-color: rgba(255, 0, 0, 0.125);
}

.education-title-text {
  font-size: 3rem;
  font-weight: 800;
  color: #b83500;
}

.edu-card {
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.edu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.edu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.edu-logo {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
}

.edu-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0.5rem;
  padding-top: 1rem;
  padding-right: 0.5rem;
}

.edu-title {
  width: 100%;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.edu-caption {
  width: 100%;
  font-weight: 400;
  font-size: 1.125rem;
  padding-top: 0.125rem;
  padding-bottom: 0.25rem;
}

.edu-location {
  font-weight: 600;
  color: rgba(184, 53, 0, 0.75);
  text-transform: uppercase;
}

.edu-body {
  padding: 1rem;
}

.edu-body-text {
  font-weight: 300;
  font-size: 1.125rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.edu-body-text-li {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-weight: 300;
  font-size: 1.125rem;
}

.educasection-end {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 2rem;
}

.education-end-text {
  font-size: 1.25rem;
  font-weight: 600;
  color: #b83500;
}

@media (min-width: 900px) {
  .education-title {
    width: 70%;
  }
  .educasection-end {
    width: 70%;
  }
}

/* -------------------------------------- ROBOTICS -------------------------------------- */
.Robotics {
  padding-top: 6rem;
  padding-bottom: 5rem;
  background-color: rgba(130, 100, 168, 0.125);
}

.robotics-title-text {
  font-size: 3rem;
  font-weight: 800;
  color: #8264a8;
}

.robo-card {
  background-color: white;
  margin-top: 2rem;
}

.robo-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.robo-logo {
  height: 5rem;
  width: 5rem;
  border-radius: 10rem;
  padding: 1rem;
}

.robo-right {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.5rem;
}

.robo-title {
  width: 100%;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.robo-caption {
  width: 100%;
  font-weight: 400;
  font-size: 1.125rem;
  padding-top: 0.125rem;
  padding-bottom: 0.25rem;
}

.robo-info {
  font-weight: 600;
  color: rgba(130, 100, 168, 0.75);
  text-transform: uppercase;
}

.robo-body {
  padding: 1rem;
}

.robo-body-text {
  font-weight: 300;
  font-size: 1.125rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.robo-end-text {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgba(130, 100, 168, 0.75);
}

@media (min-width: 900px) {
  .robotics-title {
    width: 70%;
  }
}

/* -------------------------------------- CONTACT -------------------------------------- */
.Contact {
  padding-top: 6rem;
  padding-bottom: 5rem;
  background-color: rgba(230, 133, 94, 0.125);
}

.contact-title-text {
  font-size: 3rem;
  font-weight: 800;
  color: #e6855e;
}

.contact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.contact-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-logo {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
}

.contact-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 1rem;
}

.contact-title {
  width: 100%;
  font-size: 1.25rem;
  text-decoration: none;
  font-weight: 700;
  color: #e6855e;
}

.contact-title::after {
  text-decoration: none;
}

.contact-title:visited {
  text-decoration: none;
}

.contact-title:link {
  text-decoration: none;
}

.contact-button {
  width: 100%;
  font-weight: 400;
  font-size: 1.25rem;
  background-color: blue;
}

.contact-link {
  text-decoration: none;
  font-weight: 700;
  padding-bottom: 0.5rem;
  color: #e6855e;
}

/* -------------------------------------- TEMP WEBSITE -------------------------------------- */
.temp-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100vh;
}

.temp-card {
  padding: 1rem;
  margin-bottom: 2rem;
}

.temp-title-text-hi {
  font-size: 5rem;
  font-weight: 300;
}

.temp-title-text-caption {
  font-size: 1.5rem;
  font-weight: 600;
}

.div-inputWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.temp-nameEntry-label {
  font-size: 1.25rem;
}

.temp-nameEntry {
  margin: 1rem 0rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  min-width: 70%;
  border: none;
  background-color: rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.125);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.125);
}

.temp-submitBtn {
  border: none;
  padding: 1rem 1rem;
  border: none;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 0.5rem;
  background-color: rgba(5, 5, 5, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.temp-submitBtn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.temp-warning-text {
  color: red;
  padding: 1rem 0rem;
}
/*# sourceMappingURL=main.css.map */